body { background: #b17d08; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 49px; display: flex; }
.block-filter-0 { color: #db9e31; font-size: 18px; margin-bottom: 5px; }
.block-auth-1 { color: #e233bd; font-size: 17px; margin-bottom: 5px; }
.block-email-2 { color: #f2e7a6; font-size: 15px; margin-bottom: 5px; }
.block-cache-3 { color: #17827f; font-size: 14px; margin-bottom: 5px; }
.block-payment-4 { color: #80e701; font-size: 19px; margin-bottom: 5px; }